#sunsistem {
    position: absolute;
}
#pink_dress {
    position: absolute;
    top: 0;
    left: 0;
    margin: 200px 0 0 80px;
}
#pink_platye {
    position: absolute;
    top: 0;
    left: 0;
    margin: 100px 0 0 360px;
}


#tiger_dress {
    position: absolute;
    top: 0;
    left: 0;
    margin: 350px 0 0 445px;

}

#red_dress {
    position: absolute;
    top: 0;
    left: 0;
    margin: 360px 0 0 340px;
}

#jeans {
    position: absolute;
    top: 0;
    left: 0;
    margin: 240px 0 0 720px;
}
#black_shoes {
    position: absolute;
    top: 0;
    left: 0;
    margin: 485px 0px 0 480px;
}
#red_shoes {
    position: absolute;
    top: 0;
    left: 0;
    margin: 330px 0 0 600px;

}
